@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;500&family=Poppins:wght@100;200;400;600&family=Roboto:wght@100;400;700&family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;500&family=Poppins:wght@100;200;400;600&family=Roboto:wght@100;400;700&family=Shizuru&family=Yanone+Kaffeesatz:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400&family=Lexend+Deca:wght@100;300;500&family=Poppins:wght@100;200;400;600&family=Roboto:wght@100;400;700&family=Shizuru&family=Yanone+Kaffeesatz:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.line {
  border-bottom: 2px solid rgb(0, 0, 0);
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .block1 {
    display: none;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .block1 {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .block1 {
    display: none;
  }
}
.svgrotate:hover {
  transform-origin: center;
  animation: mymove 10s infinite;
  position: relative;
}
@keyframes mymove {
  50% {
    transform: rotate(360deg);
  }
}

.sticker:hover {
  animation: shake 3s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-20px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(20px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-20px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(20px, 0, 0);
  }
}
